{#
/**
 * @file brightcove-in-page-experience-preview.html.twig
 * Default theme implementation to display the In-Page Experience preview.
 *
 * Available variable:
 *  - account_id (string): Account ID.
 *  - id (string): The ID of the In-Page experience.
 */
#}
<div data-experience="{{ id }}"></div>
<script src="https://players.brightcove.net/{{ account_id }}/experience_{{ id }}/live.js"></script>
